<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">


	<context:component-scan
		base-package="cl.ccla.rest" />
		
		
	<bean id="RecargaService"
		class="cl.ccla.service.impl.RecargaServiceImpl" />


	<bean id="ParametroService"
		class="cl.ccla.service.impl.ParametroServiceImpl" />

	<bean id="LoginService"
		class="cl.ccla.service.impl.LoginServiceImpl" />

	<bean id="RendicionService"
		class="cl.ccla.service.impl.RendicionServiceImpl" />


	<bean id="RecargaDAO" class="cl.ccla.dao.impl.RecargaDAOImpl" />

	<bean id="RendicionDAO" class="cl.ccla.dao.impl.RendicionDAOImpl" />

	<bean id="ParametroDAO" class="cl.ccla.dao.impl.ParametroDAOImpl" />

	<bean id="dataSourceTpp"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="resourceRef" value="true" />
		<property name="jndiName" value="jdbc/Tpp" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">

		<property name="dataSource" ref="dataSourceTpp" />

	</bean>
	<mvc:annotation-driven />
</beans>
